.links {
    display: flex;
}

.links a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.links .icon {
    font-size: 30px;
    color: rgb(2, 116, 192);
}

.links .icon:hover {
    color: rgb(0, 148, 247);
    transform: scale(1.1);
}