.links {
    display: flex;
}

.links a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.links .icon {
    font-size: 30px;
    color: rgb(180, 210, 230);

}

.links .icon:hover {
    color: rgb(150, 180, 200);
    transform: scale(1.1);
}